/* Navbar Styles */
.navbar {
  background-color: #f0f0f0;
  color: #2e2e2e;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
}

/* Navbar Logo Styles */
.navbar-logo {
  display: flex;
  align-items: center;
  margin: 10px 25px;
}

.navbar-logo img {
  height: 60px; /* Adjust logo height as needed */
}

/* Navbar Menu Styles */
.navbar-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  flex: 1; /* Allow the menu to take up available space */
  margin-left: auto; /* Push the items to the right */
}

.navbar-menu li {
  margin: 10px 25px;
}

.navbar-menu a {
  text-decoration: none;
  color: #2e2e2e; /* Dark grey text color for better contrast */
  font-weight: bold;
  font-size: 20px;
}

.navbar-menu a:hover {
  color: #007bff; /* Blue color on hover */
}

/* Active Page Link */
.navbar-menu a.active {
  color: #007bff; /* Blue color for the active page link */
  border-bottom: 2px solid #007bff; /* Add a blue underline to highlight the active link */
}

/* Button Styles */
.navbar-menu .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.navbar-menu .button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  color: #e0e0e0; /* Light grey text color on hover */
}

/* Hamburger Icon Styles */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: center; /* Center hamburger icon horizontally */
}

.bar {
  background-color: #2e2e2e; /* Dark grey bars for better contrast */
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.4s;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0; /* Light grey background for mobile menu */
    position: absolute;
    top: 100px; /* Match the height of the navbar */
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center; /* Center items horizontally in the mobile menu */
    align-items: center; /* Center items vertically in the mobile menu */
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}
