/* Navbar Styles */
.navbar {
  background-color: #f0f0f0;
  color: #2e2e2e;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 120px;
}

/* Navbar Logo Styles */
.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.navbar-logo img {
  height: 90px;
}

/* Navbar Menu Styles */
.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 30px;
}

.navbar-menu li {
  margin: 10px 25px;
}

.navbar-menu a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
  font-size: 20px;
}

.navbar-menu a:hover {
  color: #7e8ef1;
}

/* Active Page Link */
.navbar-menu a.active {
  color: #7e8ef1;
  border-bottom: 2px solid #7e8ef1;
}

/* Button Styles */
.navbar-menu .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7e8ef1;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-menu .button:hover {
  background-color: #e0e0e0;
  color: #7e8ef1;
}

/* Hamburger Icon Styles */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.bar {
  background-color: #2e2e2e;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.4s;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    top: 100px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}
